<app-navigation></app-navigation>
<div class="container">
    <div class="login">
      <div class="login-triangle"></div>
      <h2 class="login-header">Solicitante</h2>
      <form #frmLogin="ngForm" class="login-container">
        <p>
          <input type="text" name="nombre" placeholder="Nombre de Usuario" [(ngModel)]="usuario.nombre" required>
        </p>
        <p>
          <input type="email" name="correo" placeholder="Email" [(ngModel)]="usuario.correo" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </p>
        <p>
          <button class="btn btn-danger" (click)="getUsuario()">Solicitar</button>
        </p>
      </form>
    </div>
  </div>
