<div class="col-md-4" *ngFor="let pais of paises">
    <div class="card text-center d-flex p-2">
        <div class="card-header aling-items-center">
            <h5 class="card-title">{{pais.nombre_pais}}</h5>
        </div>
        <img src="{{pais.bandera_pais}}" alt="">
        <div class="card-body">
            <p class="card-text">Código: {{pais.codigo_pais}}</p>
            <p class="card-text">Ranking: {{pais.ranking_pais}}</p>
            <p class="card-text">Grupo: {{pais.nombre_grupo}}</p>
            <p class="card-text">Region: {{pais.nombre_region}}</p>
        </div>
    </div>
</div>
