<app-navigation></app-navigation>
<div class="col-md-4" *ngFor="let estadio of estadios">
    <div class="card text-center d-flex p-2">
        <div class="card-header aling-items-center">
            <h5 class="card-title">{{estadio.nombre_estadio}}</h5>
        </div>
        <img src="{{estadio.foto_estadio}}" alt="">
        <div class="card-body">
            <p class="card-text">Capacidad: {{estadio.capacidad_estadio}}</p>
            <p class="card-text">Ciudad: {{estadio.ciudad_estadio}}</p>
            <p class="card-text">Descripcion: {{estadio.descripcion_estadio}}</p>
        </div>
    </div>
</div>
