<app-navigation></app-navigation>
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col-md-4 container" *ngFor="let estadio of estadios">
    <div class="card text-center d-flex p-2" style="width: 18rem;">
        <div class="card-header aling-items-center">
            <h5 class="card-title">{{estadio.nombre_estadio}}</h5>
        </div>
        <img src="{{estadio.foto_estadio}}" alt="">
        <div class="card-body">
            <p class="card-text">Capacidad: <span>{{estadio.capacidad_estadio}}</span></p>
            <p class="card-text">Ciudad: <span>{{estadio.ciudad_estadio}}</span></p>
            <p class="card-text descripcion">Descripcion: <span> {{estadio.descripcion_estadio}}</span></p>
        </div>
    </div>
</div>
</div>
