<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <!--Título de país-->
                <div class="form-group mb-4">
                    <input type="text" name="nombre_pais:" [(ngModel)]="paises.nombre_pais" placeholder="Título" class="form-control" autofocus>
                </div>
                <!--Imagen-->
                <div class="form-group mb-4">
                    <input type="url" name="bandera_pais" [(ngModel)]="paises.bandera_pais" placeholder="Bandera" class="form-control">
                </div>

                <!--Código del país-->
                <div class="form-group mb-4">
                    <input type="text" name="codigo_pais" [(ngModel)]="paises.codigo_pais" placeholder="Código" class="form-control">
                </div>
                    <!--ranking del país-->
                    <div class="form-group mb-4">
                        <input type="number" name="ranking_pais" [(ngModel)]="paises.ranking_pais" placeholder="Ranking" class="form-control">
                    </div>
                       <!--ranking del país-->
                       <div class="form-group mb-4">
                        <input type="number" name="copas_pais" [(ngModel)]="paises.copas_pais" placeholder="Copas" class="form-control">
                    </div>

                   <!--Grupo del país-->
                   <div class="form-group mb-4">
                    <input type="number" name="id_grupo" [(ngModel)]="paises.id_grupo" placeholder="Grupo" class="form-control">
                </div>

                    <!--Region del país-->
                    <div class="form-group mb-4">
                        <input type="number" name="id_region" [(ngModel)]="paises.id_region" placeholder="Region" class="form-control">
                    </div>
                    <button class="btn btn-danger btn-block" (click)=" edit ? actualizarPais(): saveNewPais()">Guardar</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <h5>{{paises.nombre_pais == '' ? 'Nombre del País' : paises.nombre_pais}}</h5>
        <img [src]="paises.bandera_pais == '' ? '/assets/noimage.png' : paises.bandera_pais" class="card-img-top">
        <p>{{paises.codigo_pais == '' ? 'Código de País' : paises.codigo_pais}}</p>
        <p>{{paises.ranking_pais == 0 ? 'Ranking de País' : paises.ranking_pais}}</p>
        <p>{{paises.copas_pais == 0 ? 'Copas de País' : paises.copas_pais}}</p>
        <p>{{paises.id_grupo == 0 ? 'Nombre del grupo' : paises.id_grupo}}</p>
        <p>{{paises.id_region == 0 ? 'Region del país' : paises.id_region}}</p>
    </div>
</div>
<!--https://images-na.ssl-images-amazon.com/images/I/61LGgELpo0L._AC_SX466_.jpg-->
<!--https://th.bing.com/th/id/OIP._Q-0H2bigFw9hQHn0hMXogHaHa?pid=ImgDet&w=512&h=512&rs=1-->