<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <!--Título de país-->
                <div class="form-group mb-4">
                    <input type="text" name="nombre_pais:" [(ngModel)]="pais.nombre_pais" placeholder="Título" class="form-control" autofocus>
                </div>
                <!--Imagen-->
                <div class="form-group mb-4">
                    <input type="url" name="bandera_pais" [(ngModel)]="pais.bandera_pais" placeholder="Bandera" class="form-control">
                </div>

                <!--Código del país-->
                <div class="form-group mb-4">
                    <input type="text" name="codigo_pais" [(ngModel)]="pais.codigo_pais" placeholder="Código" class="form-control">
                </div>

                   <!--Grupo del país-->
                   <div class="form-group mb-4">
                    <input type="text" name="nombre_grupo" [(ngModel)]="pais.nombre_grupo" placeholder="Grupo" class="form-control">
                </div>

                    <!--Region del país-->
                    <div class="form-group mb-4">
                        <input type="text" name="nombre_region" [(ngModel)]="pais.nombre_region" placeholder="Region" class="form-control">
                    </div>

                    <button class="btn btn-success btn-block" (click)="saveNewPais()">Guardar</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        <h5>{{pais.nombre_pais == '' ? 'Nombre del País' : pais.nombre_pais}}</h5>
        <img [src]="pais.bandera_pais == '' ? '/assets/noimage.png' : pais.bandera_pais " class="card-img-top">
        <p>{{pais.codigo_pais == '' ? 'Código de País' : pais.codigo_pais}}</p>
        <p>{{pais.nombre_grupo == '' ? 'Nombre del grupo' : pais.nombre_grupo}}</p>
        <p>{{pais.nombre_region == '' ? 'Region del país' : pais.nombre_region}}</p>
    </div>
</div>
<!--https://images-na.ssl-images-amazon.com/images/I/61LGgELpo0L._AC_SX466_.jpg-->
<!--https://th.bing.com/th/id/OIP._Q-0H2bigFw9hQHn0hMXogHaHa?pid=ImgDet&w=512&h=512&rs=1-->