<!--Primera sección de la página-->
<header>
    <section class="hero">
        <div class="contenedor-textos contenedor">
            <h1>Mundial Qatar 2022</h1>
            <p>Las flores son tus amigas que dan color a tu vida.</p>
            <a href="https://www.opineiro.es/flores-decoracion-eventos/" class="boton" target="blank">Leer más</a>
        </div>
    </section>
</header>            
        <!--Contenido principal-->
<main>
    <section class="contenedor">
        <h2 class="titulo-seccion">Bienvenidos</h2>
        <p class="parrafo">En esta página encontrarás toda la información sobre el Mundial Qatar 2022. Desde los países asistentes hasta la tabla de posiciones.</p>
        <!--Sección Beneficios-->
        <div class="beneficios">
            <div class="beneficio beneficio1">
                <h3>Bodas</h3>
            </div>

        </div>
    </section>


</main>
