.container{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.card{
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.card-header{
    background-color: #1b1b1b;
    color: #fff;
}

p{
    font-weight: bold;
    color: #1b1b1b;
}
span{
    font-weight: bold;
    color: #737874;
}


.card:hover{
    background-color: #ffffc9;

}