.group{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container{
  
}

.crud{
    align-items: right;
    display: flex;
    text-align: center;
    justify-content: right;
    margin-top: 30px;
    margin-right: 50px;
}