<app-navigation></app-navigation>
<div class="container">
<!---------------------------Grupo A------------------------------------->
<div class="grupoA">
    <h5>Grupo A</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[0]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo B------------------------------------->
<div class="grupoB">
    <h5>Grupo B</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[1]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo C------------------------------------->
<div class="grupoC">
    <h5>Grupo C</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[2]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo D------------------------------------->
<div class="grupoD">
    <h5>Grupo D</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[3]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo E------------------------------------->
<div class="grupoE">
    <h5>Grupo E</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[4]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo F------------------------------------->
<div class="grupoF">
    <h5>Grupo F</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[5]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo G------------------------------------->
<div class="grupoG">
    <h5>Grupo G</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[6]">
                <tr class="">
                    <th scope="row">{{tb.id_pais}}</th>
                    <td> {{tb.nombre_pais}} </td>
                    <td> {{tb.golesC_tablaP}} </td>
                    <td> {{tb.golesF_tablaP
                    }}</td>
                    <td> {{tb.partidosE_tablaP}} </td>
                    <td>{{tb.partidosG_tablaP
                    }}</td>
                    <td>{{tb.partidosJ_tablaP
                    }}</td>
                    <td>{{tb.partidosP_tablaP
                    }}</td>
                    <td>{{tb.partidosT_tablaP
                    }}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------Grupo H------------------------------------->
<div class="grupoH">
    <h5>Grupo H</h5>
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">País</th>
                    <th scope="col">GC</th>
                    <th scope="col">GF</th>
                    <th scope="col">PE</th>
                    <th scope="col">PG</th>
                    <th scope="col">PJ</th>
                    <th scope="col">PP</th>
                    <th scope="col">PT</th>
                 </tr>
            </thead>
            <tbody *ngFor="let tb of tbposiciones[7]"><tr class="">
                <th scope="row">{{tb.id_pais}}</th>
                <td> {{tb.nombre_pais}} </td>
                <td> {{tb.golesC_tablaP}} </td>
                <td> {{tb.golesF_tablaP
                }}</td>
                <td> {{tb.partidosE_tablaP}} </td>
                <td>{{tb.partidosG_tablaP
                }}</td>
                <td>{{tb.partidosJ_tablaP
                }}</td>
                <td>{{tb.partidosP_tablaP
                }}</td>
                <td>{{tb.partidosT_tablaP
                }}</td>
              </tr></tbody>
        </table>
    </div>
</div>
</div>