<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Mundial Qatar 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/paises/crud">Países </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/paises/add">Add País</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estadios/crud">Estadios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estadios/add">Add Estadio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calendario/crud">Calendario</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/calendario/add">Add Juego</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resultados/crud">Resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resultados/add">Add Resultado</a>
      </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tbposiciones/crud">Tabla de Posiciones</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="logout()">Salir</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/resultados">Resultados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tbposiciones">Tabla</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>


